<div class="container">
  <div class="row text-center">
    <div class="col-sm-4"><button class=" btn btn-outline-success" (click)="activos()">Activos</button></div>
    <div class="col-sm-4"><button class=" btn btn-outline-success" (click)="inactivos()">Inactivos</button></div>
    <div class="col-sm-4"><button class=" btn btn-outline-success" (click)="revocados()">Revocados</button></div>
  </div>

  <div>
    <br>
    <label for="nombre" >Nombre:</label>
    <input type="text" name="nombre" [(ngModel)]="nombre" >
    <button class="btn btn-default" (click)="porNombre(nombre)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </button>
  </div>

  <br>
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Registro de Usuarios</h2>
    </div>
    <div class="table-responsive card-body">
      <table class="table table-hover">
        <thead class="">
          <tr class="text-center">
            <th> Nombre</th>
            <th> Login</th>
            <th> Fecha Alta</th>
            <th> Status</th>
            <th> Accion</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let u of usuario">
            <th> {{u.nombre}}</th>
            <th> {{u.login}}</th>
            <th> {{u.fechaAlta}}</th>
            <th> {{u.status}}</th>
            <th class="row">
              <div class="col-sm-4"><a class="btn btn-outline-info" (click)="editar(u)">Editar</a></div>
              <div class="col-sm-4"><a class="btn btn-outline-info" (click)="eliminar(u)">Eliminar</a></div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
